<article>
  @let items = form.controls.items.controls;

  <div class="flex flex-col gap-4">
    <h1 class="text-white text-3xl">
      {{ "PASSENGER_INFORMATION_TITLE" | translate }}
    </h1>

    @for (formGroup of items; track formGroup.controls.id.value) {
    <div class="passenger-information__card">
      <div class="flex justify-between">
        <h2 class="text-white text-xl mb-2">
          {{ "PASSENGER" | translate }} {{ formGroup.controls.id.value }}
        </h2>

        <button
          (click)="removeItem($index)"
          class="btn-remove text-alert-50 border-b-2 border-b-alert-50"
        >
          {{ "PASSENGER_INFORMATION_FORM_REMOVE_BTN" | translate }}
        </button>
      </div>

      <div [formGroup]="formGroup" class="grid grid-cols-12 gap-4">
        <app-input
          [control]="formGroup.controls.name"
          formControlName="name"
          id="name"
          [label]="'PASSENGER_INFORMATION_FORM_LABEL_NAME' | translate"
          [placeholder]="
            'PASSENGER_INFORMATION_FORM_PLACEHOLDER_NAME' | translate
          "
          class="col-span-12 md:col-span-4"
        />
        <app-input
          [control]="formGroup.controls.lastName"
          formControlName="lastName"
          id="value"
          [label]="'PASSENGER_INFORMATION_FORM_LABEL_LAST_NAME' | translate"
          [placeholder]="
            'PASSENGER_INFORMATION_FORM_PLACEHOLDER_LAST_NAME' | translate
          "
          class="col-span-12 md:col-span-8"
        />
        <app-select
          [control]="formGroup.controls.documentType"
          formControlName="documentType"
          (modelChange)="handleDocumentType($event, formGroup)"
          [options]="documentTypeOptions"
          [label]="'PASSENGER_INFORMATION_FORM_LABEL_DOCUMENT_TYPE' | translate"
          class="col-span-12 md:col-span-4"
        />
        <app-input
          [control]="formGroup.controls.documentNumber"
          formControlName="documentNumber"
          type="number"
          id="documentNumber"
          [label]="
            'PASSENGER_INFORMATION_FORM_LABEL_DOCUMENT_NUMBER' | translate
          "
          [placeholder]="
            'PASSENGER_INFORMATION_FORM_PLACEHOLDER_DOCUMENT_NUMBER' | translate
          "
          class="col-span-12 md:col-span-4"
        />
        <app-radio-button
          [control]="formGroup.controls.gender"
          formControlName="gender"
          [options]="genderOptions"
          [name]="`${formGroup.controls.id.value}`"
          [label]="'PASSENGER_INFORMATION_FORM_LABEL_GENDER' | translate"
          class="col-span-12 md:col-span-4"
        />
        <app-input
          [control]="formGroup.controls.email"
          formControlName="email"
          id="email"
          [label]="'PASSENGER_INFORMATION_FORM_LABEL_EMAIL' | translate"
          [placeholder]="
            'PASSENGER_INFORMATION_FORM_PLACEHOLDER_EMAIL' | translate
          "
          class="col-span-12 md:col-span-8"
        />
      </div>
    </div>
    }

    <app-button (click)="addItem()" class="self-end">
      {{ "PASSENGER_INFORMATION_FORM_ADD_BTN" | translate }}
    </app-button>
  </div>
</article>
