@let localControl = control();
@let error = localControl.invalid && (localControl.dirty || localControl.touched);

<div class="input">
  <label [for]="formatId" class="input__label">{{ label() }}</label>
  <input
    type="text"
    [formControl]="localControl"
    (blur)="onTouched()"
    [name]="id()"
    [id]="formatId"
    [type]="type()"
    [placeholder]="placeholder()"
    class="input__control"
    [class.error]="error"
  />
</div>

@if (error) {
<div class="error-message text-alert-50 text-sm mt-1">
  @if (localControl.errors?.["required"]) {
  <span>{{ "INPUT_ERROR_MESSAGE" | translate}} {{ label() }}</span>
  }
  @if (
    localControl.errors?.["minlength"] ||
    localControl.errors?.["email"] ||
    localControl.errors?.["maxlength"]) {
  <span>{{ label() }} {{ "INPUT_INVALID_ERROR_MESSAGE" | translate}}</span>
  }
</div>
}
