@let localControl = control();
@let error = localControl.invalid && (localControl.dirty || localControl.touched);

<div class="input">
  <label [for]="id()" class="input__label">{{ label() }}</label>
  <input
    type="text"
    [formControl]="localControl"
    (blur)="onTouched()"
    [name]="id()"
    [id]="id()"
    [type]="type()"
    class="input__control"
    [class.error]="error"
  />
</div>

<!-- @if (error) {
<div class="error-message">
  @if (localControl.errors?.["required"]) {
  <span>Este campo es requerido</span>
  }
</div>
} -->
