$height: 46px;
.radio-button-control {
  height: $height;

  &__label {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    line-height: $height;
    font-size: 14px;
    color: white;
    cursor: pointer;
  }

  &__input {
    margin-left: 10px;
    cursor: pointer;
    background-color: #1e2139;
  }
}
