@let localControl = control(); @let error = localControl.invalid &&
(localControl.dirty || localControl.touched);

<div class="select">
  <label for="countries" class="select__label">{{ label() }}</label>
  <select
    id="countries"
    class="select__control"
    [formControl]="localControl"
    (blur)="onTouched()"
  >
    <option selected [value]="null">
      {{ "PASSENGER_INFORMATION_FORM_PLACEHOLDER_DOCUMENT_TYPE" | translate }}
      {{ label() }}
    </option>
    @for(option of options(); track option.id) {
    <option [value]="option?.value">{{ option?.label | translate }}</option>
    }
  </select>
</div>
@if (error) {
<div class="error-message text-alert-50 text-sm mt-1">
  @if (localControl.errors?.["required"]) {
  <span>{{ "SELECT_ERROR_MESSAGE" | translate }} {{ label() }}</span>
  }
</div>
}
